html
  head
    title Inventory
    link(rel="stylesheet", href="bower_components/bootstrap/dist/css/bootstrap.min.css")
    link(href='https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Architects+Daughter', rel='stylesheet', type='text/css')
    //- link(rel="stylesheet", href="bower_components/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet", href="css/style.css")
  body
  
    .container-fluid.home
      img(src="http://www.oldnassoul.com/wp-content/uploads/2015/08/interior-designs.jpg")
      .row
        .col-xs-12.title
          h1 Welcome to your new home



  script(src="bower_components/jquery/dist/jquery.min.js")
  script(src="bower_components/bootstrap/dist/js/bootstrap.min.js")
  script(src="js/main.js")
