h1 {
  text-align: center;
  font-family: fantasy;
  color: white;
}

.z4 {
  z-index: 2;
  background: rgba(60, 21, 20, 0.8);
}

.home {
  height: 100vh;
  width: 100vw;
  padding: 0;
}

img.z1{
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: -1;
}
img.z3{
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 1;
  pointer-events: none;
}

.slave {
  height: 100px;
  width: 100px;
  position: absolute;
  /*left: 50%;
  top: 70%;*/
}

.row {
  /*position: absolute;*/
  top: 50%;
}

.cell {
  position: absolute;
}

#cell1{
  left: 5%;
  top: 40%;
}
#cell1 img{
  height: 120px;
  width: 120px;
}

#cell2{
  left: 17%;
  top: 43%;
}
#cell2 img{
  height: 90px;
  width: 90px;
}

#cell3{
  right: 16%;
  top: 44%;
}
#cell3 img{
  height: 90px;
  width: 90px;
}

#cell4{
  right: 1%;
  top: 50%;
}
#cell4 img{
  height: 120px;
  width: 120px;
}

#greetCade {
  height: 100px;
  width: 100px;
  position: absolute;
  left: 42%;
  top: 45%;
  z-index: 0;
}

.cade {
  position: absolute;
  height: 40px;
  width: 40px;
  left: 43%;
  top: 33%;
}
/*
.spinCade {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 4000;

}*/
