.home {
  /*background-image: url("http://hbu.h-cdn.co/assets/cm/15/05/980x490/landscape_nrm_54c4956d156f2_-_01-hbx-blue-house-exterior-0513-xln-42436446.jpg");
  background-repeat: no-repeat;
  background-size: cover;*/

  height: 100vh;
  width: 100vw;
  padding: 0;
}

.title, .upstairs, .downstairs {
  position: absolute;
  left: 1%;
}

.title {
  font-family: 'Gloria Hallelujah', cursive;
}

.upstairs {
  text-align: center;
  font-family: 'Architects Daughter', cursive;
  top: 50%;
}

.downstairs {
  text-align: center;
  font-family: 'Architects Daughter', cursive;
  bottom: 17%
}

img {
  height: 100vh;
  width: 100vw;
  position: absolute;
}

.item {
  background-color: rgba(79, 32, 0, 0.6);
  color: white;
  margin: 1%;
}

.highlight {
  border: 3px solid gold;
}
