.home {
  /*background-image: url("http://hbu.h-cdn.co/assets/cm/15/05/980x490/landscape_nrm_54c4956d156f2_-_01-hbx-blue-house-exterior-0513-xln-42436446.jpg");
  background-repeat: no-repeat;
  background-size: cover;*/

  height: 100vh;
  width: 100vw;
  padding: 0;
}
.homePage{
  position: absolute;
  height: 100vh;
  width: 100vw;
  padding: 0;
}
.homePage img{
  height: 100vh;
  width: 100vw;
  padding: 0;
}

.title, .upstairs, .downstairs {
  position: absolute;
  left: 1%;
}

.title {
  font-family: 'Gloria Hallelujah', cursive;
}

.upstairs {
  text-align: center;
  font-family: 'Architects Daughter', cursive;
  top: 50%;
}

.downstairs {
  text-align: center;
  font-family: 'Architects Daughter', cursive;
  bottom: 17%
}

img.z1{
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: -1;
}
img.z3{
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 1;
  pointer-events: none;
}

.item {
  background-color: rgba(79, 32, 0, 0.6);
  color: white;
  margin: 1%;
}

.highlight {
  border: 3px solid gold;
}


#cade1 img {
  height: 100px;
  width: 100px;
  position: absolute;
  left: 50%;
  top: 70%;
  z-index: 0;
  -webkit-transform:rotate(90deg);
}

#cade2 img {
  height: 100px;
  width: 100px;
  position: absolute;
  left: 25%;
  top: 80%;
  z-index: 0;
  -webkit-transform:rotate(135deg);
}

#cade3 img {
  height: 100px;
  width: 100px;
  position: absolute;
  left: 13%;
  top: 62%;
  z-index: 0;
}

#cade4 img {
  height: 100px;
  width: 100px;
  position: absolute;
  left: 60%;
  top: 58%;
  z-index: 0;
}

#cade5 img {
  height: 100px;
  width: 100px;
  position: absolute;
  left: 73%;
  top: 63%;
  z-index: 0;
}
